{
  "extends": "react-app",
  "plugins": [
    // ...

  ],
  "rules": {
    // ...
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "no-unused-vars": 0,
    "import/first": 0,
    "import/no-anonymous-default-export": 0
  }
}
