@font-face {
  font-family: 'Leckerli One';
  src: url('../../../fonts/LeckerliOne-Regular.ttf');
}
@font-face {
  font-family: 'Aclonica';
  src: url('../../../fonts/Aclonica-Regular.ttf');
}

.muse-app-manager_home-logo {
  .logo-wrapper {
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;

    .logo-thumbnail {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  display: flex;
  .button_wrapper {
    display: flex;
  }
  .spinner {
    margin: auto;
    display: block;
    font-size: 24px;
  }

  .font-loader {
    position: fixed;
    top: -1000px;
    &-f1 {
      font-family: 'Leckerli One';
    }
    &-f2 {
      font-family: 'Aclonica';
    }
    &-f3 {
      font-family: 'Asap';
    }
    &-f4 {
      font-family: 'Lemonada';
    }
    &-f5 {
      font-family: 'Niconne';
    }
  }
}

@font-face {
  font-family: 'Leckerli One';
  src: url('../../../fonts/LeckerliOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aclonica';
  src: url('../../../fonts/Aclonica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../../../fonts/Asap-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemonada';
  src: url('../../../fonts/Lemonada-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Niconne';
  src: url('../../../fonts/Niconne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
