@import '../../styles/mixins';

.muse-layout-sider {
  padding-top: @header-height;
  left: 50;

  .muse-antd_common-meta-menu {
    padding-top: 0px !important;
  }
}

[data-theme='dark'] .muse-layout-sider {
  .ant-menu-dark {
    background-color: #17191a !important;
  }

  .ant-layout-sider-trigger {
    background-color: #2d3134 !important;
  }

  .ant-layout .ant-layout-sider {
    background-color: #161616 !important;
  }
}
